*{
    box-sizing: border-box;
}
.plan-container {
    min-width:720px;
    width:80%;
    height:100vh;
    margin:0 auto;
    display:flex;
}
.plan-left-container {
    min-width:200px;
    width:30%;
    padding:10px;
    border-right: 2px solid rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.plan-left-container a {
    min-height:70px;
    width:100%;
    border:1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    position:relative;
    padding:0 5px 5px 5px;
}
.plan-left-container a:visited{
    color:black;
}
.plan-left-container .plan-left-active {
    border: 2px solid rgb(255, 128, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.plan-left-container img {
    position:absolute;
    right:-7px;
    top:-7px;   
    border-radius: 50%;
    background: white;
}
.plan-left-container a>div {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plan-left-container a>div button{
    background: none;
    border : 1px solid gray;
    border-radius: 10px;
    margin-left : 10px;
    cursor: pointer;
}
.plan-left-container a>div button:hover {
    border : 1px solid rgb(255, 128, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.plan-right-container {
    height: fit-content;
    min-width: 620px;
    width:70%;
    margin-bottom: 10px;
    padding:10px;
    display:flex;
    flex-direction: column;
}
.plan-category {
    display:none;
    flex-wrap: wrap;
    align-items: center;
    height:70px;
}
.plan-category .category-button-container{
    height: 100%;
    width:100%;
    border : 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.plan-category .search-button-container{
    width:100%;
    display:none;
    justify-content: center;
    margin-top:10px;
}
.category-button{
    display:flex;
    flex-direction: column;
    padding:5px 10px 5px 10px;
    margin:0 10px;
    cursor: pointer;
    border-radius: 50%;
}
.category-button-active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 0, 0)); */
}
.category-button span{
    font-size: 0.8rem;
}
.plan-category button {
    border:1px solid gray;
    border-radius: 10px;
    margin-left:10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.plan-category button:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
}
.plan-category button:hover {
    color: #fff;
}
.plan-category button:hover:after {
    background: #000;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.plan-search-container {
    width:100%;
    margin-top:10px;
    display :flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plan-search-container .plan-search-location {
    width:100%;
    display:none;
    justify-content: center;
}
.plan-search-container a{
    display: flex;
    width:70%;
    height:100%;
    border : 1px solid gray;
    border-radius: 10px;
    padding:1px 3px;
}
.plan-search-container input {
    width: calc(100% - 30px);
    border: none;
    padding:5px;
    /* display:block */
    /* height:100%; */
    /* padding:0; */
    /* margin:0; */
}
.plan-search-container input:focus {
    outline: none;
}
.plan-search-container img {
    cursor: pointer;
}


/* Search Button CSS */
.plan-search-location {
    width:100%;
}
.drop {
    display: block;
    position: absolute;
    background: #CCC;
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  .drop.animate {
    animation: drop 1s ease-out;
  }
  
  @keyframes drop {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
  .materialSelect {
    height: 70px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }
  .materialSelect.error .select:not(.isOpen) {
    border: 1px solid #DD2C00 !important;
  }
  .materialSelect.error .message {
    display: block;
  }
  .materialSelect.inline {
    float: none !important;
    display: inline-block;
    z-index: 0;
    min-width: 100px;
  }
  .materialSelect.inline .select {
    transform: translate(0, 0);
    top: 0;
    left: 0;
    margin: 0;
    transition: all 0.2s !important;
    width: 100%;
  }
  .materialSelect.inline .select.isOpen {
    transform: translate(0, -50%);
    top: 50%;
  }
  .materialSelect:not(.inline) {
    width: 100%;
  }
  .materialSelect:not(.inline) .select {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .materialSelect .select {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -1px;
    user-select: none;
    width: 250px;
    text-align: center;
    margin: 0px auto;
    z-index: 9999;
    height: 48px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #fff;
    margin-left: 0;
    transform: none;
  }
  .materialSelect .select:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #bbbbbb;
    content: "";
    display: block;
    height: 0px;
    position: absolute;
    pointer-events: none;
    top: 19px;
    right: 10px;
    width: 0px;
  }
  .materialSelect .select li {
    cursor: pointer;
    font-size: 15px;
    list-style: none;
    line-height: 48px;
    padding: 0 48px 0 24px;
    position: relative;
    overflow: hidden;
  }
  .materialSelect .select li[data-selected] {
    height: 48px;
  }
  .materialSelect .select li:not([data-selected]) {
    height: 0px;
    opacity: 0;
  }
  .materialSelect .select.isOpen {
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
    padding-bottom: 16px;
    top: -96px;
    height: 250px;
    z-index: 99999;
  }
  .materialSelect .select.isOpen:after {
    display: none;
  }
  .materialSelect .select.isOpen:before {
    border-color: transparent !important;
  }
  .materialSelect .select.isOpen li {
    height: 48px;
    opacity: 1;
  }
  .materialSelect .select.isOpen li[data-selected] {
    color: #E91E63;
  }
  .materialSelect .select.isOpen li:hover {
    background-color: #eeeeee;
  }
  .materialSelect .select.isOpen li:active {
    background-color: #dbdbdb;
  }
  .materialSelect .select:not(.isOpen):hover {
    background-color: #f7f7f7;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
  }
  .materialSelect .select:not(.isOpen):active {
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
  }
  .materialSelect .select + .select:before {
    border-left: thin solid #c8c8c8;
    content: "";
    height: 32px;
    left: 0;
    position: absolute;
    top: 8px;
  }
  .materialSelect .message {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #DD2C00;
    display: none;
  }
  
  @media only screen and (min-width: 1008px) {
    .materialSelect .select {
      transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
    }
    .materialSelect .select li {
      transition: height 0.2s linear, opacity 0.2s ease, margin 0.2s linear;
    }
  }