@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.text01{ font-family: 'Oswald', sans-serif; }
.text02{ font-family: 'Allison', cursive;  }
.text03{ font-family: 'Do Hyeon', sans-serif; }